<p id="locat">{{locationReport}}</p>
<ul>
    <li>{{weatherReport.currentTemp}}</li>
    <li>{{weatherReport.apparentTemp}}</li>
    <li>{{weatherReport.precipProb}}</li>
    <li>{{weatherReport.windSpeed}}</li>
    <li>{{weatherReport.humidity}}</li>
    <li>{{weatherReport.forecast}}</li>
</ul>